{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>Dodaj ofertę pracy</title>
  <script>
    function showQuestionFields() {
      var checkbox = document.getElementById("testy-checkbox");
      var questionFields = document.getElementById("question-fields");

      if (checkbox.checked) {
        questionFields.style.display = "block";
      } else {
        questionFields.style.display = "none";
      }
    }

    function addQuestionField() {
      var questionContainer = document.getElementById("question-container");
      var newQuestionField = document.createElement("div");

      newQuestionField.innerHTML = `
        <label>Pytanie:</label>
        <input type="text" name="question[]">
        <label>Odpowiedź:</label>
        <input type="text" name="answer[]">
      `;

      questionContainer.appendChild(newQuestionField);
    }
  </script>
</head>
<body>
<header style="margin-top: 20px">
  <h1>Dodaj ofertę pracy</h1>
</header>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <label>
      <input name="testy" type="checkbox" id="testy-checkbox" onchange="showQuestionFields()">
      Testy
    </label>

    <div id="question-fields" style="display: none;">
      <div id="question-container">
        <div>
          <label>Pytanie:</label>
          <input type="text" name="question[]">
          <label>Odpowiedź:</label>
          <input type="text" name="answer[]">
        </div>
      </div>
      <button type="button" onclick="addQuestionField()" style="margin-bottom: 20px;">Dodaj pytanie i odpowiedź</button>
    </div>

    <button type="submit" name="dodaj">Dodaj ofertę</button>
  </form>
{% for message in messages %}
        {% if message.tags == 'success' %}
        <div style="width: 100%; margin-bottom: 30px; color: green">
            <a class="close" href="{% url 'RekruterApp:rejestracja' %}" data-dismiss="success">×</a>
            {{ message }}
        </div>
        {% endif%}
{% endfor %}
</body>
</html>
{% endblock content %}
