
{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>Strona logowania</title>

</head>
<body>
  <main>
    <h2>Logowanie</h2>
    <form method="POST">
    {% csrf_token %}
    </form>
    {% for message in messages %}
    {% if message.tags == 'error' %}

    <div style="width: 100%; margin-bottom: 30px; color: red">
        <a class="close" href="{% url 'RekruterApp:login' %}" data-dismiss="alert">×</a>
            {{ message }}
    </div>
    {% endif%}
    {% endfor %}

  </main>
</body>
</html>

{% endblock content %}