{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>Formularz zgłoszeniowy</title>
</head>
<body>
<header style="margin-top: 20px">
  <h1>Formularz zgłoszeniowy</h1>
</header>
  <form method="post">
    {% csrf_token %}
    <h2 style="margin-top: 30px">{{ oferta.0.0 }}</h2>
    <h3 style="text-align: left">Opis oferty:</h3>
    {{ oferta.0.1 }}
    <h3 style="text-align: left">CV</h3>
    <textarea name="cv" rows="10" cols="50"></textarea>

    <h3 style="text-align: left">List motywacyjny</h3>
    <textarea name="motivation_letter" rows="10" cols="50"></textarea>

    <button type="submit" name="test" id="rozwin" style="margin-top: 20px; max-width: 350px;">Rozwiąż test</button>

    <div id="test_form" style="display: none;">
      {{ pyt_form.as_p }}
      {{ odp_form.as_p }}
    </div>

    <script>
      document.getElementById('rozwin').addEventListener('click', function() {
        document.getElementById('test_form').style.display = 'block';
      });
    </script>
  </form>

</body>
</html>
{% endblock content %}
