{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>Oferty pracy</title>
  <style>
    .job {
      margin-bottom: 20px;
      padding: 10px;
      background-color: #fff;
      transition: background-color 0.3s;
    }
    .job:hover {
      background-color: #f5f5f5;
    }
  </style>
</head>
<body>
  <header>
    <h1>Oferty pracy</h1>
  </header>

  <main>
    {% for job in jobs %}
    <div class="job">
      <h2>{{ job.0 }}</h2>
      <p style="text-align: center">{{ job.1 }}</p>
    </div>
    {% endfor %}
  </main>

</body>
</html>
{% endblock content %}
