{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>Strona logowania</title>
  <script>
    function toggleForm() {
      var selectElement = document.getElementById("wybor");
      var pracodawcaForm = document.getElementById("formularz-pracodawcy");
      var pracownikForm = document.getElementById("formularz-pracownika");

      if (selectElement.value === "pracodawca") {
        pracodawcaForm.style.display = "block";
        pracownikForm.style.display = "none";
      } else if (selectElement.value === "pracownik") {
        pracodawcaForm.style.display = "none";
        pracownikForm.style.display = "block";
      }
    }
  </script>
</head>
<body>
  <main>
    <header>
      <h1>Rejestracja</h1>
    </header>
    <form method="POST">
      {% csrf_token %}

      {{ uzytkownik.as_p }}
      <select id="wybor" name="wybor" style="margin-bottom: 20px; max-width: 300px;" onchange="toggleForm()">

        <option>---Wybierz---</option>
        <option value="pracodawca">Pracodawca</option>
        <option value="pracownik">Pracownik</option>
      </select>

      <div id="formularz-pracodawcy" style="display: none;">
        <h3>Formularz dla pracodawcy</h3>
        {{ pracodawca.as_p }}
        <button type="submit" name="zarejestruj">Zarejestruj</button>
      </div>

      <div id="formularz-pracownika" style="display: none;">
        <h3>Formularz dla pracownika</h3>
        {{ pracownik.as_p }}
        <button type="submit" name="zarejestruj">Zarejestruj</button>
      </div>
    </form>
  </main>
</body>
</html>
{% endblock content %}
